<a href="https://colab.research.google.com/github/ArshiyaNasirin/python-training/blob/main/training_day_2_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
odd=[]
odds=[]
eve=[]
even=[]
for i in range(11):
    if (i%2==0):
        eve.append(i)
        even.append(i*i)
    else:
        odd.append(i)
        odds.append(i*i)
print("The even numbers are:",eve)
print("The squares of the even numbers are:",even)
print("The odd numbers are:",odd)
print("The squares of the odd numbers are:",odds)

The even numbers are: [0, 2, 4, 6, 8, 10]
The squares of the even numbers are: [0, 4, 16, 36, 64, 100]
The odd numbers are: [1, 3, 5, 7, 9]
The squares of the odd numbers are: [1, 9, 25, 49, 81]

In [ ]:
list1=[2,4,8,7,34,24,9]
a=len(list1)
mini=list1[0]
maxi=list1[0]
for i in list1:
  if (maxi< i):
    maxi=i
  if(mini>i):
    mini=i
print("The maximum value is:",maxi)
print("The minimum value is: ",mini)

The maximum value is: 34
The minimum value is:  2

In [ ]:
list1=[2,4,8,7,34,24,9]
a=len(list1)
mini=list1[0]
maxi=list1[0]
for i in list1:
  if (maxi< i):
    maxi=i
  if(mini>i):
    mini=i
print("BEFORE REMOVAL:",list1)
print("The first maximum value is:",maxi)
print("The first minimum value is: ",mini)
list1.remove(maxi)
list1.remove(mini)
print("AFTER REMOVAL",list1)
ma=list1[0]
mi=list1[0]
for j in list1:
  if(ma < j):
    ma=j
  if(mi > j):
    mi=j
print("The second maximum value is:",ma)
print("The second minimum value is: ",mi)

BEFORE REMOVAL: [2, 4, 8, 7, 34, 24, 9]
The first maximum value is: 34
The first minimum value is:  2
AFTER REMOVAL [4, 8, 7, 24, 9]
The second maximum value is: 24
The second minimum value is:  4

In [ ]:
def bubble_sort_asc(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

def bubble_sort_desc(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] < arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Example usage
input_list = [5, 3, 7, 9, 8, 4, 2]

# Sorting in ascending order
bubble_sort_asc(input_list.copy())
print("Ascending order:", input_list)

# Sorting in descending order
bubble_sort_desc(input_list.copy())
print("Descending order:", input_list)

Ascending order: [5, 3, 7, 9, 8, 4, 2]
Descending order: [5, 3, 7, 9, 8, 4, 2]

In [ ]:
a = [45, 67, 83, 24, 55, 87, 77, 34]
number_to_find = 55
position = a.index(number_to_find)
print("The position of", number_to_find, "is", position)

The position of 55 is 4

In [ ]:
from collections import Counter

a = [4, 5, 6, 4, 6, 7, 4, 2, 4, 8, 4]
counter = Counter(a)
most_common_element = counter.most_common(1)[0][0]

print("The most frequent element in the list is:", most_common_element)

The most frequent element in the list is: 4

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

result_dict = {}
for key, value in zip(keys, values):
    result_dict.update({key: value})

print("Dictionary created:", result_dict)

Dictionary created: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
import random

voter_list = ['Voter1', 'Voter2', 'Voter3', 'Voter4', 'Voter5',
              'Voter6', 'Voter7', 'Voter8', 'Voter9', 'Voter10']

candidates = {'A': 0, 'B': 0, 'C': 0}

# Simulating the voting process
for voter in voter_list:
    vote_cast = random.choice(['A', 'B', 'C'])
    candidates[vote_cast] += 1

# Determining the winner and the runner-up
sorted_candidates = sorted(candidates.items(), key=lambda x: x[1], reverse=True)
winner, winner_votes = sorted_candidates[0]
runner_up, runner_up_votes = sorted_candidates[1]

print("Winner:", winner, "with", winner_votes, "votes")
print("Runner-up:", runner_up, "with", runner_up_votes, "votes")

# Finding members who voted for the winner and the runner-up
voted_for_winner = [voter for voter in voter_list if candidates[winner] == winner_votes]
voted_for_runner_up = [voter for voter in voter_list if candidates[runner_up] == runner_up_votes]

print("Members who voted for the winner:", voted_for_winner)
print("Members who voted for the runner-up:", voted_for_runner_up)

Winner: A with 6 votes
Runner-up: C with 4 votes
Members who voted for the winner: ['Voter1', 'Voter2', 'Voter3', 'Voter4', 'Voter5', 'Voter6', 'Voter7', 'Voter8', 'Voter9', 'Voter10']
Members who voted for the runner-up: ['Voter1', 'Voter2', 'Voter3', 'Voter4', 'Voter5', 'Voter6', 'Voter7', 'Voter8', 'Voter9', 'Voter10']

In [ ]:
# Function to convert Rupee to Dollar
def rupee_to_dollar(rupee):
    return rupee / 74.56  # Assuming 1 USD = 74.56 INR

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Function to calculate BMI
def calculate_bmi(weight_kg, height_m):
    return weight_kg / (height_m ** 2)

# Function to calculate Simple Interest
def calculate_simple_interest(principal, rate, time):
    return (principal * rate * time) / 100

# Main function
def main():
    print("1. India (Rupee) to US (Dollar) conversion")
    rupee_amount = float(input("Enter amount in Rupees: "))
    dollar_amount = rupee_to_dollar(rupee_amount)
    print("Equivalent amount in US Dollars:", dollar_amount)

    print("\n2. Celsius to Fahrenheit conversion")
    celsius_temp = float(input("Enter temperature in Celsius: "))
    fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
    print("Equivalent temperature in Fahrenheit:", fahrenheit_temp)

    print("\n3. BMI Calculation")
    weight = float(input("Enter weight in kg: "))
    height = float(input("Enter height in meters: "))
    bmi = calculate_bmi(weight, height)
    print("BMI:", bmi)

    print("\n4. Simple Interest Calculation")
    principal = float(input("Enter principal amount: "))
    rate = float(input("Enter rate of interest: "))
    time = float(input("Enter time period (in years): "))
    simple_interest = calculate_simple_interest(principal, rate, time)
    print("Simple Interest:", simple_interest)

if __name__ == "__main__":
    main()

1. India (Rupee) to US (Dollar) conversion
Enter amount in Rupees: 50
Equivalent amount in US Dollars: 0.6706008583690987

2. Celsius to Fahrenheit conversion
Enter temperature in Celsius: 60
Equivalent temperature in Fahrenheit: 140.0

3. BMI Calculation
Enter weight in kg: 40
Enter height in meters: 45
BMI: 0.019753086419753086

4. Simple Interest Calculation
Enter principal amount: 45
Enter rate of interest: 45
Enter time period (in years): 10
Simple Interest: 202.5

In [ ]:
def get_zeros_and_ones(input_list):
    zeros = []
    ones = []
    for num in input_list:
        if num == 0:
            zeros.append(num)
        elif num == 1:
            ones.append(num)
        else:
            print("Invalid input! Input list should only contain 0s and 1s.")
            return None
    return zeros, ones

input_list = [0, 1, 0, 1, 1, 0, 1, 0, 1, 0]
zeros, ones = get_zeros_and_ones(input_list)
print("Zeros:", zeros)
print("Ones:", ones)

Zeros: [0, 0, 0, 0, 0]
Ones: [1, 1, 1, 1, 1]